#  act -j build --input dryRun=true --artifact-server-path ./bin  # to test locally with act
name: 'PR and Commit Validation'
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

env:
  GO_VERSION: 1.21
jobs:
  
  test:
    runs-on: ubuntu-latest
    name: 'Test'
    steps:

      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{env.GO_VERSION}}


      - name: Setup gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Unit Tests
        run: gotestsum --format testname --junitfile ../unit-tests.xml
        working-directory: ./pkg

      - name: Test Report
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2.3.0
        if: (success() || failure())
        with:
          name: Test Results
          path: '*-tests.xml'
          reporter: java-junit
    
  build:
    runs-on: ubuntu-latest
    name: 'Build'
    needs: test
    strategy:
      matrix:
        goos: [ linux, windows, darwin ]
        goarch: [ amd64, arm64 ]
        #goos: [  windows ]
        #goarch: [ amd64 ]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version:  ${{env.GO_VERSION}}

#      - name: Build binary
#        run: go build -o bin/octodiff cmd/octodiff/main.go
      - name: Build for ${{ matrix.goos }}/${{ matrix.goarch }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          OUTPUT_NAME="octodiff"
          if [ "${{ matrix.goos }}" = "windows" ]; then
            OUTPUT_NAME="${OUTPUT_NAME}.exe"
          fi
          go build -o build/${{ matrix.goos }}_${{ matrix.goarch }}/$OUTPUT_NAME  cmd/octodiff/main.go
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: octodiff-${{ matrix.goos }}-${{ matrix.goarch }}
          path: build/${{ matrix.goos }}_${{ matrix.goarch }}/
