name: 'PR and Commit Validation'
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
jobs:
  validation:
    name: 'PR and Commit Validation'
    runs-on: ubuntu-latest

    permissions: # https://github.com/dorny/test-reporter/issues/168
      statuses: write
      checks: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      # if we just run the unit tests then go doesn't compile the parts of the app that aren't covered by
      # unit tests; this forces it
      - name: Build binary
        run: go build -o bin/octodiff cmd/octodiff/main.go

      - name: Setup gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Unit Tests
        run: gotestsum --format testname --junitfile ../unit-tests.xml
        working-directory: ./pkg

      - name: Test Report
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        if: success() || failure()
        with:
          name: Test Results
          path: '*-tests.xml'
          reporter: java-junit
